# Application Port
PORT=5000

# MongoDB Connection URI (replace with your own)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.<id>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=Cluster0

# Environment (development | production | test)
NODE_ENV=development

# Allowed origins for CORS (comma-separated if multiple)
ALLOWED_ORIGINS=http://localhost:5173
# ALLOWED_ORIGINS=https://your-production-domain.com

# Logging level (error | warn | info | debug)
LOG_LEVEL=info
